nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: mistyrose;
  padding: 8px;
  align-items: center;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-item {
  font-size: large;
  font-weight: bold;
  margin-left: 16px;
}
